.DS_Store
.eslintcache
.env
.env.*
/node_modules/
/scripts/templates/

# React Router
/.react-router/
/build/

#prisma
/.prisma/

/.well-known/appspecific/com.chrome.devtools.json
*storybook.log
storybook-static

/.vscode/mcp.json
