@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html {
  @apply text-base bg-gradient-to-b from-[25%] from-black to-[#9595FF] to-[125%];
  scroll-behavior: smooth;
}

body {
  @apply antialiased container mx-auto min-h-screen;
  /* Prevent iOS Safari from bouncing when scrolling past the top/bottom */
  overscroll-behavior: none;
}
code {
  white-space: pre-wrap;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

@utility white-gradient-text {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(
    to left,
    #ececec 0%,
    #ffffff 43%,
    #d5d5d5 100%
  );
}
